@model Job

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" asp-for="Name" />
        <span></span>
    </div>

  

    <div>

        <label for="Employers">Add Employer</label>

        <select name="Employer" id="Job" asp-for="EmployerId">
            @foreach (Employer employer in ViewBag.allEmployers)
            {
            <option value="@employer.Id">@employer.Name</option>
            }
        </select>


    </div>


        <input type="submit" value="Add Job" />
</form>

